.astronaut {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../images/Sujet.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  left: 50%;
  top: 50%;
  animation: orbitAndSpin 30s linear infinite;
  pointer-events: none;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

@keyframes orbitAndSpin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px) rotate(-360deg);
    }
}
